@using SosCivil.Core.Extensions;
@{
    ViewData["Title"] = "Entregas";
    var entregas = (List<Entrega>?)ViewData["Entregas"];
}
<!DOCTYPE html>
<html lang="en">
<body>
    <h1 class="titlePage">
        ENTREGAS
    </h1>
    <div class="card">
        <a type="button" onclick="voltarPagina()" class="btn btn-dark float-right returnButton"><i class="las la-arrow-left fontsize-20" alt="Voltar"></i></a>
        <a type="button" asp-action="Novo" asp-controller="Entrega" class="btn btn-dark float-right addButton"><i class="las la-plus fontsize-20" alt="Nova Entrega"></i></a>
        <div class="table-responsive table-wrapper-scroll-y">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id da Solicitação</th>
                        <th scope="col">Status Entrega</th>
                        <th scope="col">Data de Entrega</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (entregas != null && entregas.Any())
                        {
                            foreach (var entrega in entregas)
                            {
                                <tr>
                                    <th scope="row">@entrega.Id</th>
                                    <td><a href="Solicitacao/Editar/@entrega.Solicitacao.Id">@entrega.Solicitacao.Id - @entrega.Solicitacao.NomeSolicitante</a></td>
                                    <td>@entrega.Status.GetDescription()</td>
                                    <td>@entrega.DataEntrega</td>
                                    <td class="icons">
                                        <div class="w-100 h-100">
                                            <a href="Entrega/Editar/@entrega.Id"><i class="las la-pen fontsize-20" alt="Editar"></i></a>
                                        </div>
                                        <div class="w-100 h-100">
                                            <a href="Entrega/Excluir/@entrega.Id"><i class="las la-trash fontsize-20" alt="Excluir"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
