@using SosCivil.Core.Extensions;
@{
    ViewData["Title"] = "Documentos";
    var documentos = (List<Documento>?)ViewData["Documentos"];
}
<!DOCTYPE html>
<html lang="en">
<body>
    <h1 class="titlePage">
        SOLICITAÇÕES
    </h1>
    <div class="card">
        <a type="button" onclick="voltarPagina()" class="btn btn-dark float-right returnButton"><i class="las la-arrow-left fontsize-20" alt="Voltar"></i></a>
        <a type="button" asp-action="Novo" asp-controller="Documento" class="btn btn-dark float-right addButton"><i class="las la-plus fontsize-20" alt="Adicionar Documento"></i></a>
        <div class="table-responsive table-wrapper-scroll-y">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Nome da solicitação</th>
                        <th scope="col">Documento do solicitante</th>
                        <th scope="col">Data da solicitação</th>

                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (documentos != null && documentos.Any())
                        {
                            foreach (var documento in documentos)
                            {
                                <tr>
                                    <th scope="row">@documento.Id</th>
                                    <td>@documento.Descricao</td>
                                    <td>@documento.Solicitacao.NomeSolicitante</td>
                                    <td>@documento.Solicitacao.CpfCnpjSolicitante</td>
                                    <td>@documento.Solicitacao.DataSolicitacao</td>
                                    <td class="icons">
                                        <div class="w-100 h-100">
                                            <a href="@documento.DownloadLink"><i class="las la-file-download fontsize-20" alt="Download"></i></a>
                                        </div>
                                        <div class="w-100 h-100">
                                            <a href="Documento/Excluir/@documento.Id"><i class="las la-trash fontsize-20" alt="Excluir"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
